# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\proga\проэкты java\MessangerServer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
